.courses{
    padding: 80px 0 0;
    .row-fluid{
        display: flex;
    }
    p{
        margin: 15px 0 0 0;
    }
    h3{
        margin: 24px 0 0;
        max-width: 800px;
    }
    h4{
        margin: 0;
    }
    .type{
        background: black;
        border-radius: 32px;
        color: #fff;
        display: table;
        padding: 3px 11px 3px 11px;
    }
    button{
        margin: 0 auto;
    }
    .big-p{
        margin: 80px 0; 
        text-align: center;
    }
    .span6 h3{
        max-width: 530px;
    }
    .span6 p{
        max-width: 590px;        
    }
    .bottom{
        left: 5%;
        bottom: 22px;
        position: absolute;
        width: 90%;
    }
    &__b{
        font-family: $CB;
    }
    &__comment{
        line-height: 160%;
        margin: 7px 0 0 0 !important;
    }
    &__course{
        border-radius: 3px;
        margin: 50px 0 0 0;
        padding: 30px 2.5% 200px;
        position: relative;
        &--browmaster{
            background: #efe5df;
            .bottom{
                left: 2.5%;
                width: 95%;
            }
        }
        &--bio{
            background: #e9efda;
            .bottom{
                left: 2.5%;
                width: 95%;
            }
        }
        &--triding{
            background: #ececec;
        }
        &--light{
            background: #fcdec8;
        }
        &--lam{
            background: #fcf3e7;
        }
        &--botoks{
            background: #d3f4ff;
        }
    }
    &__block{
        background-repeat: no-repeat;
        background-size: 40px;
        margin-left: 0!important;
        padding: 15px 4% 0 58px;
        &--browmaster1{
            background-image: url(../img/browmaster-1.svg);
        }
        &--browmaster2{
            background-image: url(../img/browmaster-2.svg);
        }
        &--browmaster3{
            background-image: url(../img/browmaster-3.svg);
        }
        &--browmaster4{
            background-image: url(../img/browmaster-4.svg);
        }
        &--browmaster5{
            background-image: url(../img/browmaster-5.svg);
        }
        &--bio1{
            background-image: url(../img/bio-1.svg);
        }
        &--bio2{
            background-image: url(../img/bio-2.svg);
        }
    }
    &__row{
        margin: 40px 0 0 0;
    }
    &__show{
        cursor: pointer;
        display: table;
        margin: 10px 0 0 0;
        &:hover .courses__show-img{
            top: 5px;
        }
        &:hover .courses__show-text{
            border-bottom: none;
        }
    }
    &__show.active{
        img{
            transform: rotate(-180deg);
        }
        &:hover .courses__show-img{
            top: -5px;
        }
    }
    &__show-text{
        border-bottom: 1px dotted $red;
        color: $red;
    }
    &__show-img{
        left: 5px;
        position: relative;
        top: 0;
        transition: 0.2s;
        width: 10px;
    }
    &__line{
        background: $black;
        height: 1px;
        margin: 0 0 20px 0;
    }
}

@media(max-width: 1050px){
    .courses{
        padding: 60px 0 0 0;
        .big-p{
            margin: 60px 0; 
            text-align: center;
        }
    }
}

@media(max-width: 850px){
    .courses{
        padding: 40px 0 0 0;
        &__course{
            margin: 25px 0 0;
            padding: 30px 2.5% 130px;
        }
        .big-p{
            margin: 40px 0;
        }
    }
}

@media(max-width: 767px){
    .courses{
        .row-fluid{
            display: block;
        }
        .bottom{
            left: 3%;
            width: 94%;
        }
    }
}

@media(max-width: 500px){
    .courses{
        &__block{
            background: none !important;
            margin: 10px 0 0 0;
            padding: 15px 4% 0 0px;
        }
        &__row{
            margin: 0;
        }
        .big-p{
            margin: 25px 0;
        }
    }
}