footer{
    background: $black;
    color: $white;
    font-size: 90%;
    padding: 24px 0 16px;
    a{
        color: $white;
        transition: 0.2s;
        &:hover{               
            color: $red;
        }
    }
    .span3, .span2{
        padding: 9px 0 0 0;
    }
    .phone{
        text-align: right;
        a{
            border-bottom: none;
            font-size: 200%;
            line-height: 140%;
            &:hover{
                color: $white;
            }
            span{
                font-size: 60%;
            }
        }
    }
}

@media(max-width: 767px){
    footer{
        padding: 16px 0 8px;
        .phone{
            margin: 5px 0 0 0;
            text-align: left;
        }
        .span3, .span2{
            padding: 3px 0 0;
        }
    }
}