.game{
    padding: 46px 0 66px 0;
    .info{
        float: left;
        margin: 19px 3% 0 0;
        width: 62%;
        .row{
            margin: 29px 0 0 0;
            .buy{
                display: table;
                float: left;
                margin: 0 4% 10px 0;
            }
            .video{
                color: #fff;
                cursor: pointer;
                float: left;
                font-size: 130%;
                line-height: 150%;
                margin: 4px 4% 10px 0;
                padding: 0 0 0 77px;
                position: relative;
                &:hover{
                    color: #ffd571;
                }
                &:hover .img{
                    border: 2px solid #ffd571;
                    &:before{
                        border-left: 13px solid #ffd571;
                    }
                }
                .img{
                    border: 2px solid #fff;
                    border-radius: 50px;
                    height: 53px;
                    left: 0;
                    position: absolute;
                    top: 2px;
                    width: 53px;
                    &:before{
                        border: 7px solid transparent;
                        border-left: 13px solid #fff;
                        content: '';
                        left: 23px;
                        position: absolute;
                        top: 19px;
                    }
                }
                &--mobile{
                    display: none;
                    font-size: 100%;
                    line-height: 125%;
                    margin-right: 0;
                    margin-top: 0;
                    padding: 0 0 0 47px;
                    &:hover .img{
                        &:before{
                            border-left: 9px solid #ffd571;
                        }
                    }
                    .img{
                        height: 33px;
                        width: 33px;
                        &:before{
                            border: 5px solid transparent;
                            border-left: 9px solid #fff;
                            left: 14px;
                            top: 11px;
                        }
                    }
                    .text{
                        margin: 9px 0 0 0;
                    }
                }
            }
            .price{
                background: #ffd571;
                border-radius: 14px;
                float: left;
                margin: 6px 4% 0 0;
                padding: 11px 55px 8px 21px;
                position: relative;
                .number{
                    font-family: pfDinDisplayProBlack;
                    font-size: 230%;
                }
                .text{
                    font-size: 95%;
                    position: absolute;
                    right: 21px;
                    top: 12px;
                }
            }
        }
    }
    .image{
        .price{
            background: #ffd571;
            border-radius: 14px;
            display: none;
            float: right;
            margin: -42px 0 0 0;
            padding: 6px 40px 6px 17px;
            position: relative;
            .number{
                font-family: pfDinDisplayProBlack;
                font-size: 210%;
            }
            .text{
                font-size: 95%;
                position: absolute;
                right: 8px;
                top: 9px;
            }
        }
    }
    p{
        max-width: 600px;
    }
}

@media(max-width: 1270px){
    .game{
        .info{
            margin: 19px 6% 0 0;
        }
        .image{
            float: left;
            width: 30%;
            img{
                max-width: 100%;
            }
        }
    }
}

@media(max-width: 900px){
    .game{
        padding: 46px 0 130px;
        .info{
            width: 94%;
        }
        .image{
            margin-top: 40px;
            width: 94%;
        }
    }
}

@media(max-width: 600px){
    .game{
        padding: 0 0 55px;
        h1{
            font-size: 170%;
            text-align: center;
        }
        .info{
            margin: 12px 6% 0 0;
            p{
                font-size: 100%;
                margin: 8px 0 0;
            }
            .row{
                margin: 13px 0 0;
                .price{
                    display: none;
                }
                .buy{
                    margin-bottom: 21px;
                    font-family: pfDinDisplayProRegular;
                    font-size: 100%;
                    padding: 9px 23px 12px
                }
                .video{
                    margin-bottom: 21px;
                    &--desktop{
                        display: none;
                    }
                    &--mobile{
                        display: block;
                    }
                }
            }
        }
        .image{
            margin-top: 0;
            .price{
                display: table;
            }
            img{
                display: table;
                margin: 0 auto;
                max-width: 60%;
            }
        }
    }
}