header{
    background: none;
    padding: 41px 0 0 0;
    transition: 0.25s;
    .logo-container{
        float: left;
        width: 28%;
    }
    .in-wrapper{
        position: relative;
    }
    .logo{
        display: table;
    }
    nav{
        float: left;
        padding: 8px 0 0 0;
        text-align: center;
        width: 44%;
        a{
            color: #fff;
            padding: 8px 4% 9px;
            text-decoration: none;
            transition: .15s;
            &:hover{
                color: #ffd571;
            }
        }
    }
    .header-mobile{
        display: none;        
        left: 0;
        position: absolute;
        top: 0;
        a{
            color: #fff;
            text-decoration: none;
        }
        .whatsapp{
            font-family: pfDinDisplayProMedium;
            font-size: 100%;
            margin-left: 15px;
        }
    }
    .footer-mobile{
        bottom: 41px;
        display: none;
        position: absolute;
        width: 100%;
        .social{
            text-align: center;
            a{
                border-bottom: 1px solid #fff;
                color: #fff;
                font-size: 90%;
                margin: 0 14px 0;
                text-align: center;
                text-decoration: none;
            }
        }
        .mail{
            font-size: 110%;
            margin: 0 0 6px 0;
            text-align: center;
        }
    }
    .contacts{
        float: left;
        padding: 5px 0 0 0;
        width: 28%;
        a{
            color: #fff;
            display: block;
            float: right;
            font-family: pfDinDisplayProMedium;
            font-size: 100%;
            padding-bottom: 8px;
            text-decoration: none;
        }
        a.phone{
            font-size: 125%;
            margin: 0 13% 0 0;
            padding-top: 2px;
        }
        a.whatsapp{
            padding-top: 3px;
        }
    }
}

#hamburger{
    cursor: pointer;
    display: none;
    height: 22px;
    padding: 7px;
    position: absolute;
    right: -7px;
    top: 1px;
    width: 27px;
    &:hover .block{
        background: #ffd571;
    }
    .block{
        background: #fff;
        opacity: 1;
        position: absolute;
        transition: 0.2s;
        height: 3px;
        width: 27px;
        &--2{
            top: 16px;
        }
        &--3{
            top: 25px;
        }
    }
}

#hamburger.active{
    .block{
        &--1{
            top: 17px;
            transform: rotate(45deg);
        }
        &--2{
            opacity: 0;
        }
        &--3{
            top: 17px;
            transform: rotate(-45deg);
        }
    }
}

@media(max-width: 1100px){
    header{
        .contacts, .logo-container{
            width: 35%;
        }
        nav{
            width: 30%;
        }
    }
}

@media(min-width: 851px){
    header{
        nav, .contacts{
            display: block !important;
        }
    }
}

@media(max-width: 1000px){
    header{
        .logo-container{
            width: auto;
        }
        .contacts{
            float: right;
        }
        nav{
            margin: 0 0 0 6%;
            text-align: left;
            width: 40%;
        }
    }
}

@media(max-width: 850px){
    #hamburger{
        display: block;
    }
    header.active{
        background: #ffd571;
        height: 100%;
        padding: 22px 0 0;
        position: fixed;
        width: 100%;
        z-index: 14;
        .footer-mobile{
            display: block;
        }
        .header-mobile{
            display: block;
        }
        .wrapper{
            display: table;
            height: 100%;
            position: relative;
            .in-wrapper{
                display: table-cell;
                vertical-align: middle;
            }
        }
        #hamburger{
            &:hover .block{
                background: #333;
            }
        }
        .logo{
            display: none;
        }
        nav{
            margin: -45px 0 0 0;
        }
    }
    header{        
        .logo-container{
            float: none;
        }
        nav{
            display: none;
            float: none;
            margin: 0;
            width: 100%;
            a{
                display: block;
                padding-left: 0;
                font-family: pfDinDisplayProBlack;
                font-size: 155%;
                text-align: center;
                &:hover{
                    color: #333;
                }
            }
        }
        .contacts{
            display: none;
        }
    }
}

@media(max-width: 600px){
    header{
        padding: 30px 0 0;
    } 
}