.offer{
    background-image: url(../img/offer.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 180px 0 200px;
    text-align: center;
}