.process{
    padding: 46px 0 66px;
    h1{
        font-size: 235%;
        margin: 0 0 25px 0;
        text-align: center;
    }
    .slider{
        float: left;
        position: relative;
        width: 58%;
    }
    .video{
        float: left;
        width: 42%;
        .show-video{
            background-image: url(../img/video.png);
            border-radius: 12px;
            cursor: pointer;
            display: table;
            height: 220px;
            margin: 116px auto 0;
            width: 68%;
            .play{    
                padding: 0 0 0 64px;
                position: relative;
            }
            .container{
                color: #ffd571;
                display: table;
                font-size: 100%;
                line-height: 150%;
                margin: 0 auto;
            }
            .img{
                border: 2px solid #ffd571;
                border-radius: 50px;
                height: 44px;
                left: 0;
                position: absolute;
                top: 2px;
                width: 44px;
                &:before{
                    border: 7px solid transparent;
                    border-left: 13px solid #ffd571;
                    content: '';
                    left: 17px;
                    position: absolute;
                    top: 16px;
                }
            }
        }
    }
}

@media(max-width: 1000px){
    .process{
        .video{
            .show-video{
                height: 185px;
                margin: 120px auto 0;
            }
        }
    }
}

@media(max-width: 900px){
    .process{
        padding: 46px 0 130px;
    }
}

@media(max-width: 790px){
    .process{
        .slider{
            width: 100%;
        }
        .video{
            width: 100%;
            .show-video{
                background-repeat: no-repeat;
                background-size: cover;
                height: 272px;
                margin: 40px auto 0;
                width: 100%;
            }
        }
    }
}

@media(max-width: 560px){
    .process{
        padding: 16px 0 55px 0;
        h1{
            font-size: 170%;
            margin: 0 0 21px;
        }
        .swiper-container{
            border-radius: 0;
        }
        .swiper-slide{
            border-radius: 0 !important;
            .img{
                border-radius: 0 !important;
            }
        }
        .swiper-pagination{
            top: 358px;
        }
    }
    .process.wrapper{
        width: 100%;
    }
    .video{
        .show-video{
            border-radius: 0 !important;
            height: 195px !important;
            margin: 25px auto 0 !important;
        }
    }
}