.reviews{
    background: $gray;
    padding: 80px 0 20px 0;
    h2{
        margin: 0 0 60px 0;
        text-align: center;
    }
    img{
        display: block;
        margin: 0 0 35px 0;
    }
    p{
        margin: 10px 0 0 0;
    }
    a{
        color: $black;
        margin: 0 0 0 31px;
        position: relative;
        transition: 0.2s;
        &:hover{               
            color: $red;
        }
        &:before{
            background-image: url(../img/vk.svg);
            background-repeat: no-repeat;
            content: '';
            height: 14px;
            left: -29px;
            position: absolute;
            top: 5px;
            width: 21px;
        }
    }
    .span4{
        padding: 0 25px 0 0;
    }
    .text{
        margin: 0 0 20px 0;
    }
    .row-fluid{
        padding: 0 0 70px 0;
    }
}

@media(max-width: 1050px){
    .reviews{
        padding: 60px 0px 20px;
        h2{
            margin: 0 0 40px;
        }
        .row-fluid{
            padding: 0 0 50px;
        }
    }
}

@media(max-width: 850px){
    .reviews{
        padding: 40px 0px 0px;
        h2{
            margin: 0 0 20px;
        }
        .row-fluid{
            padding: 0 0 50px;
        }
    }
}

@media(max-width: 500px){
    .reviews{
        h2{
            text-align: left;
        }
        img{
            margin: 0 0 22px;
        }
        .span4{
            margin: 0 0 40px 0;
        }
        .row-fluid{
            padding: 0;
        }
    }
}