html, body {
    min-height: 100%;
}

html{
    position: relative;   
}

body{
    color: #ffffff;
    font-family: pfDinDisplayProRegular, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#69c5f6+0,abe2ff+100 */
    background: rgb(105,197,246); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(105,197,246,1) 0%, rgba(171,226,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(105,197,246,1) 0%,rgba(171,226,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(105,197,246,1) 0%,rgba(171,226,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69c5f6', endColorstr='#abe2ff',GradientType=1 ); /* IE6-9 */
}

.clear{
    clear: both;
}

.overflow-hidden{
    overflow: hidden;
}

.wrapper{
    margin: 0 auto;
    max-width: 1172px;
    padding: 0 4%;
    width: 92%;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
}

@font-face{
    font-family: pfDinDisplayProRegular;
    src: url('../fonts/pfdindisplaypro-reg.ttf');
}

@font-face{
    font-family: pfDinDisplayProMedium;
    src: url('../fonts/pfdindisplaypro-medium.ttf');
}

@font-face{
    font-family: pfDinDisplayProBlack;
    src: url('../fonts/pfdindisplaypro-black.ttf');
}

h1{
    font-family: pfDinDisplayProBlack;
    font-size: 320%;
    margin: 0;
}

p{
    font-size: 130%;
    line-height: 155%;
    margin: 24px 0 0 0;
}

.buy{
    background: #ffd571;
    border: none;
    border-radius: 48px;
    color: #fff;
    cursor: pointer;
    font-family: pfDinDisplayProMedium;
    font-size: 125%;
    outline: none;
    padding: 20px 41px 20px;
    text-align: center;
    transition: 0.2s;
}

.fixed-menu-container{
    position: relative;
}

@media(max-width: 600px){
    h1{
        font-size: 270%;
    }
}

@media(max-width: 400px){
    h1{
        font-size: 230%;
    }
}

@media(max-width: 300px){
    h1{
        font-size: 200%;
    }
}