$red: rgba(234, 0, 45, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$CR: CirceRegular, Arial, Verdana, sans-serif;
$CB: CirceBold, Arial, Verdana, sans-serif;
$PfdR: PlayfairDisplayRegular, georgia, serif;