article.about-game.wrapper
    section.info
        h1 Об игре и&nbsp;правила
        p 
            | Каждому игроку раздается по 4 карточки. Начинает игру младший по
            | возрасту. За каждый последующий ход игрок может взять одну карту из
            | колоды или положить одну из своих карт с действием. Будьте аккуратнее,
            | когда берете новую карту: вам может попасться злой и страшный серый
            | волк! Чтобы не проиграть в таком случае, вам надо будет выложить карту
            | спасения зайца. Выигрывает тот игрок, который останется последним!
        div.row
            div.about-game__col.about-game__col--1
                div.container
                    img.desktop(src="assets/img/icon-1.png" alt="2-6 игроков")
                    img.mobile(src="assets/img/icon-1-mobile.png" alt="2-6 игроков")
                    div.text 
                        nobr 2-6 игроков
            div.about-game__col.about-game__col--2
                div.container
                    img.desktop(src="assets/img/icon-2.png" alt="10-20 минут")
                    img.mobile(src="assets/img/icon-2-mobile.png" alt="10-20 минут")
                    div.text 
                        nobr 10-20 минут
            div.about-game__col.about-game__col--3
                div.container
                    img.desktop(src="assets/img/icon-3.png" alt="от 6 лет")
                    img.mobile(src="assets/img/icon-3-mobile.png" alt="от 6 лет")
                    div.text 
                        nobr от 6 лет
                div.clear
            div.clear
    section.image
        img(src="assets/img/play.png" alt="изображение игры")
    div.clear