section.author
    div.wrapper
        h2 Об авторе
        div.row-fluid.show-grid
            div.span7
                p.big-p Екатерина Кузнецова — основатель и&nbsp;руководитель студии и школы красоты D'ajour. А&nbsp;также:
                ul
                    li Броу-стилист с практическим опытом более 10 лет;
                    li Преподаватель и автор курсов «Brow-мастер. Моделирование бровей по&nbsp;законам золотого сечения»;
                    li Автор программ дистанционного обучения для&nbsp;мастеров бровистов;
                    li Создатель собственной торговой марки профессиональной хны для окрашивания бровей и&nbsp;ресниц NaturalHenna D'ajour;
                    li Технолог по процедуре биотатуж на натуральной хне;
                    
                ul.ul-show
                    li Спикер XII Всероссийской научно-практической конференции 2013 год (Открытие бизнеса в сфере красоты. Практический опыт);
                    li Участник круглого стола «Организация и планирование предпринимательской деятельности». Практический опыт в индустрии красоты. Март 2016 года;
                    li Финалист международной премии среди мастеров красоты Top of Beauty в номинации продукт года «NaturalHenna D'ajour» январь 2016 года;
                    li Победитель 2-го полуфинала «Look mission» в номинациях «Художественное оформление бровей» и «Моделирование бровей» в категории Эксперт;
                    li Спикер международной конференции «Russian lash & brow congress» 2016 Москва;
                    li Спикер Межреспубликанской конференции «EXPERT» 2017 г. Ижевск;
                    li Судья международных Чемпионатов по оформлению бровей.
                div.courses__show 
                    span.courses__show-text Показать все
                    img.courses__show-img(src="assets/img/arrow.svg" alt="стрелочка")

                h3 О компании
                p Компания D'ajour более 10 лет на рынке индустрии красоты. Имеет более 50 представителей в городах России, СНГ и Европе с правом преподавания технологи D'ajour. Выпускает собственную линейку продукции для моделирования взгляда.
                p Более 200 учеников выходят профессионалами после прохождения наших курсов. Преподаватели постоянно подтверждают свою квалификацию на международных чемпионатах и форумах, выступают судьями и спикерами чемпионатов и конференций международного уровня.
                p Тренеры курсов имеют стаж более 10 лет в индустрии красоты.
            div.span5
                img(src="assets/img/kate.jpg" alt="фото Екатерины")