section.courses
    div.wrapper
        h2 Наши курсы
        div.row-fluid.show-grid
            div.span12.courses__course.courses__course--browmaster
                div.type Видеокурс
                h3 Brow-мастер. Моделирование бровей по&nbsp;законам золотого сечения.
                div.row-fluid.courses__row
                    div.span6.courses__block.courses__block--browmaster1 
                        h4 Блок «Basic»
                        div.courses__block-list
                            div.courses__show 
                                span.courses__show-text Показать полное содержание блока
                                img.courses__show-img(src="assets/img/arrow.svg" alt="стрелочка")                                
                    div.span6.courses__block.courses__block--browmaster2 
                        h4 Блок «Золотое сечение»
                        div.courses__block-list
                            div.courses__show 
                                span.courses__show-text Показать полное содержание блока
                                img.courses__show-img(src="assets/img/arrow.svg" alt="стрелочка") 

                div.row-fluid.courses__row
                    div.span6.courses__block.courses__block--browmaster3 
                        h4 Блок «Сложные формы бровей и Асимметрия»
                        div.courses__block-list
                            div.courses__show 
                                span.courses__show-text Показать полное содержание блока
                                img.courses__show-img(src="assets/img/arrow.svg" alt="стрелочка")                                
                    div.span6.courses__block.courses__block--browmaster4 
                        h4 Блок «Колористика. Техники работы с бровями»
                        div.courses__block-list
                            div.courses__show 
                                span.courses__show-text Показать полное содержание блока
                                img.courses__show-img(src="assets/img/arrow.svg" alt="стрелочка") 
                div.row-fluid.courses__row
                    div.span6.courses__block.courses__block--browmaster5 
                        h4 Блок «Практика»
                        div.courses__block-list
                            div.courses__show 
                                span.courses__show-text Показать полное содержание блока
                                img.courses__show-img(src="assets/img/arrow.svg" alt="стрелочка")
                div.courses__line
                button Оставить заявку

        div.row-fluid.show-grid
            div.span12.courses__course.courses__course--bio
                div.type Видеокурс
                h3 Биотатуаж бровей хной
                div.row-fluid.courses__row
                    div.span6.courses__block.courses__block--bio1 
                        h4 Теория
                        div.courses__block-list
                            div.courses__show 
                                span.courses__show-text Показать полное содержание блока
                                img.courses__show-img(src="assets/img/arrow.svg" alt="стрелочка")                                
                    div.span6.courses__block.courses__block--bio2 
                        h4 Демонстрация на 3 моделях
                        div.courses__block-list
                            div.courses__show 
                                span.courses__show-text Показать полное содержание блока
                                img.courses__show-img(src="assets/img/arrow.svg" alt="стрелочка") 

                div.courses__line
                button Оставить заявку

        div.row-fluid.show-grid
            div.span6.courses__course.courses__course--triding
                div.type Видеокурс
                h3 Тридинг

                div.courses__line
                button Оставить заявку

            div.span6.courses__course.courses__course--light
                div.type Видеокурс
                h3 Технология осветления бровей

                div.courses__line
                button Оставить заявку

        div.row-fluid.show-grid
            div.span6.courses__course.courses__course--lam
                div.type Видеокурс
                h3 Ламинирование ресниц и бровей

                div.courses__line
                button Оставить заявку

            div.span6.courses__course.courses__course--botoks
                div.type Фотокурс
                h3 Ботокс для ресниц

                div.courses__line
                button Оставить заявку
        
        div.row-fluid.show-grid
            div.span10.offset1
                p.big-p По окончанию каждого курса сертификат. Доступ к курсам открывается сразу после оплаты. Время просмотра не ограничено. Гарантированно консультирование после курса.

