footer.wrapper
    div.social
        a(href="https://instagram.com" target="_blank") Instagram
        a(href="https://vk.com" target="_blank") VK
    div.mail
        span Пишите нам — 
        span mail@gmail.com
    div.delivery-payment 
        span Информация о доставке и оплате
    div.clear