section.for
    div.wrapper
        h2 Курсы идеально подойдут для
        div.row-fluid.show-grid
            div.span3
                h4 Новичков в индустрии красоты
                p Уровень подготовки не важен. Главное — внимание к деталям и трудолюбие. Зачастую лучшие результаты показывают именно новички.
            div.span3
                h4 Состоявшихся специалистов
                p Улучшите свои навыки или получите ещё одну профессию и повысьте свою цену на рынке труда.
            div.span3
                h4 Предпринимателей
                p Отправьте сотрудников на обучение. Броустудия с 5 мастерами и правильно выстроенными процессами в среднем приносит 300 000 руб. в месяц «чистыми».
            div.span3
                h4 Девушек в декрете
                p Многие начинают интересоваться бровями во время беременности. Броумастер — идеальная профессия для работы дома при условии, что вы успешно выстроите продажи.