article.game.wrapper
    section.info
        h1 «Зайцы и волки» — увлекательная игра для всей семьи! :)
        p Почувствуйте себя храбрым зайцем, спасающимся от&nbsp;лап страшного волка! Вы же не&nbsp;хотите стать обедом для волчка? Тогда спасайтесь скорее: в&nbsp;живых останется только один, самый смелый и&nbsp;отважный, заяц!
        div.row
            button.buy Купить сейчас
            div.video.video--desktop
                div.img
                div.text
                    | Посмотреть подробный
                    br 
                    | видео обзор игры
            div.video.video--mobile
                div.img
                div.text
                    | Посмотреть видео
            div.price
                div.number 300
                div.text руб.
            div.clear
    section.image
        img(src="assets/img/play.png" alt="изображение игры")
        div.clear
        div.price
            div.number 300
            div.text руб.
        div.clear
    div.clear