header
    nav.wrapper
        a.header__video(href="#video") Школа D'ajour
        a.header__courses(href="index.html") Наши курсы
        a.header__for(href="index.html") Для кого
        a.header__economy(href="index.html") Экономика профессии
        a.header__reviews(href="index.html") Отзывы
        a.header__author(href="index.html") Об авторе
        a.header__form(href="index.html") Заявка на обучение