header
    nav.wrapper
        a(href="index.html") Школа D'ajour
        a(href="index.html") Наши курсы
        a(href="index.html") Для кого
        a(href="index.html") Экономика профессии
        a(href="index.html") Отзывы
        a(href="index.html") Об авторе
        a(href="index.html") Заявка на обучение