header
    div.wrapper
        div.in-wrapper
            div#hamburger
                div.block.block--1
                div.block.block--2
                div.block.block--3
            div.logo-container
                a.logo(href="index.html") 
                    img(src="assets/img/logo.svg" alt="логотип" style="width:90px; height: 51px;")
            nav
                a(href="index.html") Главная
                a(href="about-game.html") Об игре
                a(href="process.html") Процесс игры
            div.contacts
                a.whatsapp(href="whatsapp://+1234567890") What’sApp
                a.phone(href="tel:+79264257933") +8 926 425-79-33
                div.clear

            div.header-mobile
                a.phone(href="tel:+79264257933") +8 926 425-79-33
                a.whatsapp(href="whatsapp://+1234567890") What’sApp
                div.clear
            div.footer-mobile
                div.mail sayhello@mail.com
                div.social
                    a(href="https://instagram.com" target="_blank") Instagram
                    a(href="https://vk.com" target="_blank") VK
            div.clear