section.offer
    h1 
        | Получите профессию 
        br 
        | «броумастер» за&nbsp;2&nbsp;неделии
    p.comment и зарабатывайте до 200 000 руб. в месяц на процедуре моделирования бровей
    button.offer__button Подробнее об экономике