section.offer
    h1 
        | Получите профессию 
        br 
        | «броумастер» за 2 неделии
    p.comment и зарабатывайте до 200 000 руб. в месяц на процедуре моделирования бровей
    button Подробнее об экономике