section.popup-delivery-payment
    div#close-popup-delivery-payment
        div.close-popup-delivery-payment__line.close-popup-delivery-payment__line--1
        div.close-popup-delivery-payment__line.close-popup-delivery-payment__line--2
    div.popup-delivery-payment__col.popup-delivery-payment__col--1
        div.header Доставка
        p 
            | Прием платежей на покупку нашей настольной
            | игры осуществляется при участии сервиса
            | «Яндекс.Деньги». После заполнения заявки мы
            | вышлем на почту счёт. Оплатить игру можно
            | картой или через кошелек Яндекс.Деньги. 
    div.popup-delivery-payment__col.popup-delivery-payment__col--2
        div.header Оплата
        p
            | Доставка осуществляется несколькими
            | способами:
            br
            | – курьерской службой
            br
            | – почтой России
            br
            | Мы свяжемся с вами для согласования
            | удобного способа получения посылки. 
            | В&nbsp;Москве и&nbsp;
            nobr Санкт-Петербурге 
            | будут работать
            | пункты самовывоза.
    div.clear