form.popup-buy
    div#close-popup-buy
        div.close-popup-buy__line.close-popup-buy__line--1
        div.close-popup-buy__line.close-popup-buy__line--2
    h3 Оформление заказа
    label(for="buy-input-games") Количество игр
    input(type="text" id="buy-input-games" placeholder="1")
    label(for="buy-input-name") ФИО
    input(type="text" id="buy-input-name" placeholder="Константинов Константин Константинович")
    label(for="buy-input-phone") Номер телефона
    input(type="text" id="buy-input-phone" placeholder="+8 800 555-35-35")
    label(for="buy-input-email") Адрес электронной почты
    input(type="text" id="buy-input-email" placeholder="inbox@gmail.com")

    button Оформить заказ