article.process.wrapper
    section.slider
        h1 Процесс игры
        div.swiper-container
            div.swiper-wrapper
                div.swiper-slide
                    div.img(style="background-image: url('assets/img/slide-1.png')")
                    div.text 
                        | Убираем волков из колоды и тасуем ее.
                        | Раздаем каждому игроку по 4 карты и
                        | вмешиваем волков в оставшиеся карты
                div.swiper-slide 
                    div.img(style="background-image: url('assets/img/slide-1.png')")
                    div.text 
                        | Убираем волков из колоды и тасуем ее.
                        | Раздаем каждому игроку по 4 карты и
                        | вмешиваем волков в оставшиеся карты
                div.swiper-slide 
                    div.img(style="background-image: url('assets/img/slide-1.png')")
                    div.text 
                        | Убираем волков из колоды и тасуем ее.
                        | Раздаем каждому игроку по 4 карты и
                        | вмешиваем волков в оставшиеся карты
                div.swiper-slide 
                    div.img(style="background-image: url('assets/img/slide-1.png')")
                    div.text 
                        | Убираем волков из колоды и тасуем ее.
                        | Раздаем каждому игроку по 4 карты и
                        | вмешиваем волков в оставшиеся карты
                div.swiper-slide 
                    div.img(style="background-image: url('assets/img/slide-1.png')")
                    div.text 
                        | Убираем волков из колоды и тасуем ее.
                        | Раздаем каждому игроку по 4 карты и
                        | вмешиваем волков в оставшиеся карты

        div.swiper-pagination

        div.swiper-buttons-container
            div.swiper-button-next
                div.swiper-button-line.swiper-button-line--1
                div.swiper-button-line.swiper-button-line--2
            div.swiper-button-prev 
                div.swiper-button-line.swiper-button-line--3
                div.swiper-button-line.swiper-button-line--4

    section.video
        div.show-video
            div.table-cell
                div.container
                    div.play
                        div.img
                        div.text
                            | Подробнее
                            br 
                            | в видео
    div.clear