section.reviews
    div.wrapper
        h2 Отзывы о курсах
        div.row-fluid.show-grid
            div.span4 
                img(src="assets/img/review-1.png" alt="Юля Волкова")
                div.text
                    p Всё получила, послушала, осталось только перестроить немного свои руки. Очень надедсь, что&nbsp;в&nbsp;скором времени послушаю Вас офлайн.
                    p С D’ajour у меня определённо любовь :)
                a(href="https://vk.com/volkovanails" target="_blank") Юля Волкова
            div.span4 
                img(src="assets/img/review-2.png" alt="Марина Варанкина")
                div.text
                    p Доброй ночи!
                    p Спасибо, Катюша, вы чудесный преподаватель и&nbsp;просто приятный человек. Получить материал можно где угодно, а&nbsp;получить знания —редкость. О&nbsp;своём выборе я нисколько не&nbsp;пожалела.
                    p Я знаю, что&nbsp;впереди меня ждёт сложная и&nbsp;кропотливая работа, я буду очень стараться! 
                    p А вам желаю удачи и&nbsp;много творческих открытий!
                a(href="https://vk.com/id267052401" target="_blank") Марина Варанкина
            div.span4 
                img(src="assets/img/review-3.png" alt="Марина Варанкина")
                div.text
                    p Катюша, добрый день!
                    p От всей души хочу поблагодарить вас за ваш курс «Моделирование по законам золотого сечения»! Информации очень много, и она очень полезная. С моим обучением в Москве разница колоссальная.
                    p Жалею только об одном: что не была у вас на мастер-классах и процедурах лично!
                a(href="https://vk.com/s.nasty" target="_blank") Анастасия Семёнова

        div.row-fluid.show-grid
            div.span4 
                img(src="assets/img/review-4.png" alt="Анастасия Мандрика")
                div.text
                    p Спасибо огромное за&nbsp;видеокурс! 
                    p Столько нюансов, столько простых схем для&nbsp;создания идеальной формы бровей.
                    p Не&nbsp;пожалела ни&nbsp;капельки, что&nbsp;приобрела именно ваш курс !
                a(href="https://vk.com/id62781596" target="_blank") Анастасия Мандрика
            div.span4 
                img(src="assets/img/review-5.png" alt="Светлана Норова")
                div.text
                    p Здравствуйте, Катя!
                    p Посмотрела ваш курс. Спасибо большое за такое доступное изложение! Вы преподаватель от Бога! Даже интонацией, тембром голоса умело пользуетесь как инструментом для подачи информации. 
                    p Я не испытала никакого дискомфорта от того, что это онлайн-курс. Как будто побывала на вашем «живом» уроке :)
                    p Всё же у меня появилось пара вопросов на выходе, но это даже хорошо, это значит, что мой мозг не просто жадно «поглотил» всё, что было на видео, но и пытается «переварить»!
                a(href="https://vk.com/svetlananorova" target="_blank") Светлана Норова
            div.span4 
                img(src="assets/img/review-6.png" alt="Светлана Малиновская")
                div.text
                    p Добрый день, Екатерина!
                    p Посмотрела ваш видеокурс. Как будто и не была до этого на других курсах. Столько информации! Аж страшно всё совместить :) Буду периодически пересматривать с удовольствием!
                    p Спасибо огромное! А к вам можно будет обращаться за критикой своих работ?
                a(href="https://vk.com/brows_malina" target="_blank") Светлана Малиновская