section.video#video
    div.wrapper
        h2 Представляем школу D’ajour
        p.comment От создателей хны для биотатуажа D’ajour
        div.row-fluid.show-grid
            div.span10.offset1
                iframe(src="https://www.youtube.com/embed/OgLyHPzFgUs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)